%h2 Sign in
= render "subscriber/shared/error_messages"
= form_for @user, :url => sessions_url do |f|
  %p
    = f.label :email
    %br/
    = f.email_field :email
  %p
    = f.label :password
    %br/
    = f.password_field :password
  %p
    = f.submit "Sign in"
= link_to "forgot password?", new_password_reset_url
= link_to "New User?", user_sign_up_url